* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Outfit", sans-serif;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle at top left, #444 0%, transparent 40%),
    linear-gradient(135deg, #111 0%, #1c1c1c 50%, #2a2a2a 100%);
  color: #fff;
  background-repeat: no-repeat;
  background-position: top center;
}

/* main header */
header {
  background-image: url("/img/bg.png");
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
  box-shadow: 0 8px 32px 0 rgba(82, 81, 81, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 0.5rem;
}

button {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
}

.container img {
  width: 100px;
  height: 100px;
}

header h1 {
  color: #fff;
}

/* budget */
.budgets {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 0 1rem;
}

.budget-card {
  padding: 1rem;
  box-shadow: 0 8px 32px 0 rgba(82, 81, 81, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1.5rem;
  cursor: pointer;
}

.budget-name {
  font-size: 1.25rem;
}

.budget-amount {
  font-size: 2rem;
  font-weight: 800;
}

.budget-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.budget-button:hover {
  background-color: #555;
  color: #fff;
}

/* budget details */

#budget-detail .budget-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#budget-detail .icon {
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: fit-content;
  border-radius: 50%;
}

#budget-detail i {
  font-size: 2rem;
}

/* responsive */
@media (max-width: 768px) {
  .budgets {
    grid-template-columns: 1fr;
  }
}
